* {
    box-sizing: border-box;
  }

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    background-color: #EBF2F1;
    font-family: "Assistant", sans-serif;
}

p {
    font-size: 21px;
    line-height: 34px;
    letter-spacing: 0;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 60px;
    letter-spacing: -3%;
    text-align: center;
}
  
h2 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -3%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.white {
    color: #FFFFFF;
}

h3 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: -2%;
    text-align: center;
}

header {
    margin-bottom: 40px;
}
  
.white {
    color: #FFFFFF;
}
  
#talk {
    background-color: #3A8070;
}
  
#location {
    background-color: #EBF2F1;
    padding-bottom: 40px;
}
  
/* MAP */
iframe {
    display: block;
    width: 600px;
    height: 750px;
    border-style: none;
    margin: 0 auto;
}
 /* De map grijs maken */
.map {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    justify-content: center;
}
  
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
/* FORMULIER */
form {
    margin-left: 10px;
    text-align: center;
    padding-top: 20px;
    text-align: left;
}

.bg {
    background-color: #EBF2F1;
    padding-right: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 600px;
}
  
input, label, textarea, .btn {
    margin-left: 40px!important;
}
    
input, label {
    display:flex;
}
    
label {
    font-family: "Assistant", sans-serif;
    text-align: left;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.24px;
    letter-spacing: 0em;
    height: 22px;
    width: 39px;
}
    
input {
    height: 41px;
    width: 343px;
    margin-bottom: 14px;
    border: none;
    border-radius: 3.4px;
    padding: 9px 21px 9px 9px;
    background: #FFFFFF;
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
}
  
.name {
    margin-top: 30px;
}
    
input:hover {
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    border: 4px solid rgba(58, 128, 112, 0.2);
}
    
input:focus {
    border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px #3A8070;
    outline: none;
}
    
textarea {
    border: none;
    resize: none;
    margin-bottom: 15px;
    border-radius: 3.4px;
    padding: 9px, 21px, 9px, 9px;
    background: #FFFFFF;
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    width: 80%;
}
    
textarea:hover {
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    border: 4px solid rgba(58, 128, 112, 0.2);
}
    
textarea:focus {
    border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px #3A8070;
    outline: none;
}
/* Inputs en labels naast en onder elkaar   */
.container {
    display: flex;
    flex-direction: column;
}
/* KNOP  */
.btn {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Assistant", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 12.75px 25.5px 12.75px 25.5px;
    width: 125px;
    height: 47.5px;
    background: #3A8070;
    border: 1px solid #FFFFFF;
    border-radius: 3.4px;
    margin: 0 auto;
}
    
.btn:hover {
    background: #FFFFFF;
    color: #3A8070;
    border: 1px solid #3A8070;
    box-shadow: 0px 0px 0px 4px rgba(58, 128, 112, 0.2);
}
/* Kaart/formulier draaien */
#card.formisflipped {
  transform: rotateY( 180deg);
}
/* Animatie kaart */
/* ANIMATIE KAART */
#card {
    transform-style: preserve-3d;
    transition: transform 4s cubic-bezier(0.2, 1, 0.3, 1.3);
}

#card section {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}
/* ACHTERKANT FORMULIER */
#card .back {
    transform: rotateY( 180deg);
  }
/* Kleur achterkant */
.colorback {
    background-color: #EBF2F1;
    height: 700px;
    width:600px;
    text-align: center;
    margin: 0 auto;
}
/* Margin-bottom tweede paragraaf */
.bottom {
    margin-bottom: 20px;
}

img {
    padding-top: 100px;
    width: 40%;
}

.sent {
    width: 500px;
    margin: 0 auto;
}


/* IPAD */
@media only screen and (max-width:50rem){
    p {
        max-width: 620px;
    }

    h3 {
        max-width: 300px;
        line-height: 45px;
        margin: 0 auto;
    }
    .bottom {
        margin-top: 10px;
        max-width: 200px;
    }
    .bg {
        background-color: #EBF2F1;
        padding-right: 30px;
        margin: 0;
        padding-bottom: 30px;
        width: 100%;
      }
    iframe {
        display: block;
        width: 100%;
      }
      input, label, textarea, .btn {
        margin-left: 0!important;
      }
}

@media only screen and (max-width:64rem){
      .bg {
        width: 100%;
      }
      .colorback {
        width:100%;
    }
}
/* MOBIEL */
@media only screen and (max-width:30rem){
    /* Location en talk onder elkaar */
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* Groene lijn tussen de kolommen gaat weg */
    #location, #talk {
        border: none;
        padding-bottom: 0;
    }
    #location {
        margin-top: 670px;
    }
    .name {
        margin-right: 0;
    }
    p {
        max-width: 300px;
    }
    .colorback {
        background-color: #EBF2F1;
        height: 700px;
        width:100%;
        text-align: center;
        margin: 0 auto;
    }
}
/* IPHONE 5/SE */
@media only screen and (max-width:20rem){
    input {
        width: 300px;
    }
}