* {
    box-sizing:border-box;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
  }

body {
    background-color: #EBF2F1;
}

p {
    font-family: "Assistant", sans-serif;
    font-size: 21px;
    line-height: 34px;
    letter-spacing: 0;
    padding-top: 20px;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    font-size: 58px;
    line-height: 60px;
    letter-spacing: -3%;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -3%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#header {
    background-color: #EBF2F1;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 100%;
}

#location, #talk {
    background-color: #3A8070;
    border: 2px solid #3A8070;
    padding-bottom: 20px;
}

/* De map grijs maken */
iframe {
    width: 100%;
    height: 600px;
}

.map {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
}
/* Formulier   */
form {
    background-color: #EBF2F1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}
  
input, label {
    display:flex;
}
  
label {
    font-family: "Assistant", sans-serif;
    text-align: left;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.24px;
    letter-spacing: 0em;
    height: 22px;
    width: 39px;
  }
  
input {
    height: 41px;
    width: 343px;
    margin-bottom: 14px;
    border: none;
    border-radius: 3.4px;
    padding: 9px, 21px, 9px, 9px;
    background: #FFFFFF;
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
}

.name {
    margin-right: 14px;
}
  
input:hover {
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    border: 4px solid rgba(58, 128, 112, 0.2);
}
  
input:focus {
    border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px #3A8070;
    outline: none;
}
  
textarea {
    border: none;
    resize: none;
    margin-bottom: 15px;
    border-radius: 3.4px;
    padding: 9px, 21px, 9px, 9px;
    background: #FFFFFF;
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    width: 90%;
}
  
textarea:hover {
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    border: 4px solid rgba(58, 128, 112, 0.2);
}
  
textarea:focus {
    border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px #3A8070;
    outline: none;
}
/* Inputs en labels naast en onder elkaar   */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* Knop  */
.submit {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Assistant", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 12.75px 25.5px 12.75px 25.5px;
    width: 125px;
    height: 47.5px;
    background: #3A8070;
    border: 1px solid #FFFFFF;
    border-radius: 3.4px;
    margin: 0 auto;
  }
  
.submit:hover {
    background: #FFFFFF;
    color: #3A8070;
    border: 1px solid #3A8070;
    box-shadow: 0px 0px 0px 4px rgba(58, 128, 112, 0.2);
}

/* Location en talk naast elkaar met grid */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media only screen and (max-width:800px){
    p {
        max-width: 620px;
    }
}

@media only screen and (max-width:550px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    #location, #talk {
        border: none;
        padding-bottom: 0;
    }
    .name {
        margin-right: 0;
    }
    p {
        max-width: 300px;
    }
}