* {
    box-sizing: border-box;
  }

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    background-color: #EBF2F1;
    font-family: "Assistant", sans-serif;
}

p {
    font-size: 21px;
    line-height: 34px;
    letter-spacing: 0;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 60px;
    letter-spacing: -3%;
    text-align: center;
}
  
h2 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -3%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

h3 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: -2%;
    text-align: center;
}

header {
    margin-bottom: 40px;
}
/* Svg koffie bonen */
.coffeesvg {
    text-align: center;
    margin: 0 auto;
    width: 8%;
    display: block;
    margin-top: 20px;
}
  
/* Kopje van talk witte kleur */
.white {
    color: #FFFFFF;
}
  
#talk {
    background-color: #3A8070;
}
  
#location {
    background-color: #EBF2F1;
    padding-bottom: 40px;
}
  
/* MAP */
iframe {
    display: block;
    width: 600px;
    height: 700px;
    border-style: none;
    margin: 0 auto;
  }
/* De map grijs maken */
.map {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    justify-content: center;
}
/* Talk en location naast elkaar met grid */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input, label, textarea, .btn {
    margin-left: 40px!important;
}
/* Input en label onder elkaar     */
input, label {
    display:flex;
}

label {
    font-family: "Assistant", sans-serif;
    text-align: left;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.24px;
    letter-spacing: 0em;
    height: 22px;
    width: 39px;
}

input {
    height: 41px;
    width: 343px;
    margin-bottom: 14px;
    border: none;
    border-radius: 3.4px;
    padding: 9px 21px 9px 9px;
    background: #FFFFFF;
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
}
  
.name {
    margin-top: 30px;
}

input:hover {
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    border: 4px solid rgba(58, 128, 112, 0.2);
}

input:focus {
    border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px #3A8070;
    outline: none;
}
/* Error ontwerp */
input:invalid[type="email"] {
      box-shadow: inset 0px -2.5px 0px red;
  }
  
  input:focus:required:invalid { border: 4px solid rgba(58, 128, 112, 0.2);
      box-shadow: inset 0px -2.5px 0px red;
  }

  textarea:focus:required:invalid { border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px red;
}

textarea {
    text-align: left;
    border: none;
    resize: none;
    margin-bottom: 15px;
    border-radius: 3.4px;
    padding: 9px, 21px, 9px, 9px;
    background: #FFFFFF;
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    width: 85%;
}

textarea:hover {
    box-shadow: inset 0px -2.5px 0px #DDDEE0;
    border: 4px solid rgba(58, 128, 112, 0.2);
}

textarea:focus {
    border: 4px solid rgba(58, 128, 112, 0.2);
    box-shadow: inset 0px -2.5px 0px #3A8070;
    outline: none;
}
/* Inputs en labels naast en onder elkaar   */
.container {
    display: flex;
    flex-direction: column;
}

/* KNOP  */
.btn {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Assistant", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 12.75px 25.5px 12.75px 25.5px;
    width: 125px;
    height: 47.5px;
    background: #3A8070;
    border: 1px solid #FFFFFF;
    border-radius: 3.4px;
}
    
.btn:hover {
    background: #FFFFFF;
    color: #3A8070;
    border: 1px solid #3A8070;
    box-shadow: 0px 0px 0px 4px rgba(58, 128, 112, 0.2);
}

/* FORM FLIP ANIMATIE */
#formCard {
    position: relative;
    display: block;
    margin:0 auto;
    height: 700px;
    width:600px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}

.formFront {
    background-color: #EBF2F1;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 4s cubic-bezier(0.2, 1, 0.3, 1.3);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#formCard.flip .formFront {
    -webkit-transform: rotateY(180deg);
    -mox-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.formBack {
    background-color: #EBF2F1;
    display: block;
    margin-top: -660px;
    height: 700px;
    width:600px;
    padding: 10px;
    text-align: center;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 4s cubic-bezier(0.2, 1, 0.3, 1.3);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#formCard.flip .formBack{
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}
/* Margin-bottom tweede paragraaf */
.bottom {
    margin-bottom: 20px;
}

img {
    padding-top: 100px;
    width: 40%;
}
/* Margin-bottom tweede paragraaf */
.bottomp {
    margin-bottom: 20px;
}

.checkmarksvg {
    padding-top: 100px;
    width: 40%;
}

.backh3 {
    width: 500px;
    margin: 0 auto;
    line-height: 50px;
}

/* TWEEDE KNOP */
.secondbtn {
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Assistant", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 12.75px 25.5px 12.75px 25.5px;
    width: 125px;
    height: 47.5px;
    background: #3A8070;
    border: 1px solid #FFFFFF;
    border-radius: 3.4px;
    margin: 0 auto
}

.secondbtn:hover {
    background: #FFFFFF;
    color: #3A8070;
    border: 1px solid #3A8070;
    box-shadow: 0px 0px 0px 4px rgba(58, 128, 112, 0.2);
}

/* IPAD */
@media only screen and (max-width:50rem){
    p {
        max-width: 620px;
    }

    h3 {
        max-width: 300px;
        line-height: 45px;
        margin: 0 auto;
    }
    .bottom {
        margin-top: 10px;
        max-width: 200px;
    }
    .formBack {
        height: 700px;
        width:50vw;
        margin-top: -700px;
      }
    .formFront {
        height: 700px;
        width:50vw;
    }
    textarea {
        width: 90%;
    }
    iframe {
        width: 50vw;
      }
      input, label, textarea, .btn {
        margin-left: 20px!important;
      }
}

/* IPAD PRO */
@media only screen and (max-width:64rem){
    .formBack {
        height: 700px;
        width:50vw;
        margin-top: -700px;
    }
    .formFront {
        height: 700px;
        width:50vw;
    }
    #talk {
        width: 50vw;
    }
    #location {
        width: 50vw;
    }
    iframe {
        width: 50vw;
        height: 500px;
    }
}

/* MOBIEL */
@media only screen and (max-width:30rem){
    /* Location en talk onder elkaar */
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* Groene lijn tussen de kolommen gaat weg */
    #location, #talk {
        border: none;
        padding-bottom: 0;
    }
    p {
        max-width: 300px;
    }
    .coffeesvg {
        text-align: center;
        margin: auto;
        margin-top: 20px;
        width: 40%;
        display: block
    }
    input, label, textarea, .btn {
        margin-left: 10px!important;
      }
    textarea {
        width: 50%;
    }
    #talk {
        width: 100vw;
    }
    #location {
        width: 100vw;
    }
    .formBack {
        height: 700px;
        width:100vw;
        margin-top: -700px;
    }
    .formFront {
        height: 700px;
        width:100vw;
    }
    iframe {
        width: 100vw;
        height: 500px;
    }
    textarea {
        width: 90%;
    }
}

/* IPHONE 5/SE */
@media only screen and (max-width:20rem){
    input {
        width: 300px;
    }
    #talk {
        width: 100vw;
    }
    #location {
        width: 100vw;
    }
    iframe {
        width: 100vw;
        height: 500px;
    }
}